.background
  .row
    .large-6.columns.large-centered
      .signup-panel
        %p.welcome Welcome Back
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          %test
          .small-10.columns.small-centered
            = f.email_field :email, autofocus: true, placeholder: "Email", type: "text", class: "text-box"
          %br
          .small-10.columns.small-centered
            = f.password_field :password, autocomplete: "off", placeholder: "Password", class: "text-box"
          %br
            .small-10.columns.small-centered
              = f.submit "Sign in", class: "small button"
              = render "devise/shared/links"

            